.main {
    color: #FABC2A;
    font-family: 'Muli', sans-serif;
    background-image: url("../images/background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    height: 100vh;
  }
  
  @media (max-width: 1035px) {
    .main {
        background-image: unset;
        background-color: rgb(37, 36, 36);
    }
  }
  